{{#each article}}
  <div class="row">
    <div id="login-card" class="card col s12">
      <div class="card-content">
        <a href="{{this.link}}"><span class="card-title">{{this.title}}</span></a>
        <div class="row">  
          <p>{{this.excerpt}}</p>
        </div>

        <div class="row">
          <div class="col s8">
            <input type="text" class="note-input" name="note-input">
          </div>
          <div class="col s4">
            <input data-id="{{this._id}}" class="btn note-button" type="submit" value="Add Note">
          </div>
        </div>
        
        <div class="row">  
         
          {{#each this.note}}
            {{!-- <i class="material-icons">delete</i> --}}
            <p><strong>{{this.body}}</strong></p>
          {{/each}}
        </div>
            
      </div>
    </div>
  </div>
{{/each}}